[data-theme=dark]{

      --surface-front: #2C2E30;
--surface-mid: #1D1F20;
--surface-back: #131516;
--surface-dark-back: #010311;
--surface-blackout: #00000080;
--surface-dark-blackout: #000000d6;
--gray-50: #0c0d0e;
--gray-100: #131820;
--gray-200: #23262d;
--gray-300: #4a5868;
--gray-400: #718a96;
--gray-500: #a0b5c0;
--gray-600: #cbd9e0;
--gray-700: #e6eff4;
--gray-800: #edf4f7;
--gray-900: #f7fafc;
--gray-1000: #fafafa;
--status-for-marker-text-outline: #202020;
--status-for-marker-start: #12a12f;
--status-for-marker-end: #75929d;
--status-for-marker-start-active: #008311;
--status-for-marker-end-active: #4d6a75;
--interactive-disabled: #d7eaf4;
--interactive-light-hover: #c2e2f2;
--interactive-default: #0f9cfa;
--interactive-hover: #0890ee;
--interactive-active: #13a0fe;
--priority-low: #2186e3;
--priority-mid: #ea840c;
--priority-high: #f04b45;
--status-start: #12a12f;
--status-end: #adadad;
--validation-success-main: #2cc54f;
--validation-success-bg: #e7faeb;
--validation-success-content: #0d6b23;
--validation-warning-main: #f2bd04;
--validation-warning-bg: #fff8cb;
--validation-warning-content: #675209;
--validation-error-main: #fc5b6c;
--validation-error-bg: #fbedef;
--validation-error-content: #951a20;
--shadow-elevation-default-0-color: #0000001f;
--shadow-elevation-default-0-type: dropShadow;
--shadow-elevation-default-0-x: 0;
--shadow-elevation-default-0-y: 0;
--shadow-elevation-default-0-blur: 1;
--shadow-elevation-default-0-spread: 0;
--shadow-elevation-default-1-color: #00000014;
--shadow-elevation-default-1-type: dropShadow;
--shadow-elevation-default-1-x: 0;
--shadow-elevation-default-1-y: 0;
--shadow-elevation-default-1-blur: 2;
--shadow-elevation-default-1-spread: 0;
--shadow-elevation-default-2-color: #00000014;
--shadow-elevation-default-2-type: dropShadow;
--shadow-elevation-default-2-x: 0;
--shadow-elevation-default-2-y: 2;
--shadow-elevation-default-2-blur: 8;
--shadow-elevation-default-2-spread: 0;
--shadow-elevation-active-0-color: #00000014;
--shadow-elevation-active-0-type: dropShadow;
--shadow-elevation-active-0-x: 0;
--shadow-elevation-active-0-y: 0;
--shadow-elevation-active-0-blur: 1;
--shadow-elevation-active-0-spread: 0;
--shadow-elevation-active-1-color: #00000014;
--shadow-elevation-active-1-type: dropShadow;
--shadow-elevation-active-1-x: 0;
--shadow-elevation-active-1-y: 2;
--shadow-elevation-active-1-blur: 6;
--shadow-elevation-active-1-spread: 0;
--shadow-elevation-active-2-color: #0000000f;
--shadow-elevation-active-2-type: dropShadow;
--shadow-elevation-active-2-x: 0;
--shadow-elevation-active-2-y: 10;
--shadow-elevation-active-2-blur: 20;
--shadow-elevation-active-2-spread: 0;
--shadow-elevation-popup-0-color: #00000014;
--shadow-elevation-popup-0-type: dropShadow;
--shadow-elevation-popup-0-x: 0;
--shadow-elevation-popup-0-y: 0;
--shadow-elevation-popup-0-blur: 1;
--shadow-elevation-popup-0-spread: 0;
--shadow-elevation-popup-1-color: #00000014;
--shadow-elevation-popup-1-type: dropShadow;
--shadow-elevation-popup-1-x: 0;
--shadow-elevation-popup-1-y: 2;
--shadow-elevation-popup-1-blur: 6;
--shadow-elevation-popup-1-spread: 0;
--shadow-elevation-popup-2-color: #0000000f;
--shadow-elevation-popup-2-type: dropShadow;
--shadow-elevation-popup-2-x: 0;
--shadow-elevation-popup-2-y: 16;
--shadow-elevation-popup-2-blur: 24;
--shadow-elevation-popup-2-spread: 0;
--shadow-card-default-0-color: #0000001a;
--shadow-card-default-0-type: dropShadow;
--shadow-card-default-0-x: 2;
--shadow-card-default-0-y: 2;
--shadow-card-default-0-blur: 20;
--shadow-card-default-0-spread: 0;
--shadow-card-default-1-color: #0000000a;
--shadow-card-default-1-type: dropShadow;
--shadow-card-default-1-x: -2;
--shadow-card-default-1-y: -1;
--shadow-card-default-1-blur: 4;
--shadow-card-default-1-spread: 0;
--shadow-card-active-0-color: #0000000a;
--shadow-card-active-0-type: dropShadow;
--shadow-card-active-0-x: 0;
--shadow-card-active-0-y: 0;
--shadow-card-active-0-blur: 2;
--shadow-card-active-0-spread: 0;
--shadow-card-active-1-color: #0000001a;
--shadow-card-active-1-type: dropShadow;
--shadow-card-active-1-x: 0;
--shadow-card-active-1-y: 8;
--shadow-card-active-1-blur: 20;
--shadow-card-active-1-spread: 0;
--font-families-main: Inter;
--line-heights-x7: 4px*7;
--line-heights-x6: 4px*6;
--line-heights-x5: 4px*5;
--line-heights-x4: 4px*4;
--font-weights-main-b: 700;
--font-weights-main-sb: 600;
--font-weights-main-m: 500;
--font-weights-main-r: 400;
--font-weights-main-l: 300;
--font-size-x6: 4px*6;
--font-size-x5: 4px*5;
--font-size-x4-5: 4px*4.5;
--font-size-x4: 4px*4;
--font-size-x3-5: 4px*3.5;
--font-size-x3: 4px*3;
--font-size-x2-5: 4px*2.5;
--font-size-basic: 4px;
--letter-spacing-0: 0;
--letter-spacing-m0-32: -0.32px;
--letter-spacing-m0-3: -0.3px;
--letter-spacing-m0-28: -0.28px;
--letter-spacing-m0-24: -0.24px;
--letter-spacing-m0-2: -0.2px;
--letter-spacing-m0-12: -0.12px;
--paragraph-spacing-0: 0;
--title-h1-weight-1-font-family: Inter;
--title-h1-weight-1-font-weight: 600;
--title-h1-weight-1-line-height: 4px*7;
--title-h1-weight-1-font-size: 4px*6;
--title-h1-weight-1-letter-spacing: -0.3px;
--title-h1-weight-1-paragraph-spacing: 0;
--title-h1-weight-1-text-case: none;
--title-h1-weight-1-text-decoration: none;
--title-h1-weight-2-font-family: Inter;
--title-h1-weight-2-font-weight: 500;
--title-h1-weight-2-line-height: 4px*7;
--title-h1-weight-2-font-size: 4px*6;
--title-h1-weight-2-letter-spacing: -0.32px;
--title-h1-weight-2-paragraph-spacing: 0;
--title-h1-weight-2-text-case: none;
--title-h1-weight-2-text-decoration: none;
--title-h2-weight-1-font-family: Inter;
--title-h2-weight-1-font-weight: 600;
--title-h2-weight-1-line-height: 4px*6;
--title-h2-weight-1-font-size: 4px*5;
--title-h2-weight-1-letter-spacing: -0.28px;
--title-h2-weight-1-paragraph-spacing: 0;
--title-h2-weight-1-text-case: none;
--title-h2-weight-1-text-decoration: none;
--title-h2-weight-2-font-family: Inter;
--title-h2-weight-2-font-weight: 500;
--title-h2-weight-2-line-height: 4px*6;
--title-h2-weight-2-font-size: 4px*5;
--title-h2-weight-2-letter-spacing: -0.3px;
--title-h2-weight-2-paragraph-spacing: 0;
--title-h2-weight-2-text-case: none;
--title-h2-weight-2-text-decoration: none;
--title-h3-weight-1-font-family: Inter;
--title-h3-weight-1-font-weight: 500;
--title-h3-weight-1-line-height: 4px*6;
--title-h3-weight-1-font-size: 4px*4.5;
--title-h3-weight-1-letter-spacing: -0.24px;
--title-h3-weight-1-paragraph-spacing: 0;
--title-h3-weight-1-text-case: none;
--title-h3-weight-1-text-decoration: none;
--title-h3-weight-2-font-family: Inter;
--title-h3-weight-2-font-weight: 400;
--title-h3-weight-2-line-height: 4px*6;
--title-h3-weight-2-font-size: 4px*4.5;
--title-h3-weight-2-letter-spacing: -0.28px;
--title-h3-weight-2-paragraph-spacing: 0;
--title-h3-weight-2-text-case: none;
--title-h3-weight-2-text-decoration: none;
--title-h4-weight-1-font-family: Inter;
--title-h4-weight-1-font-weight: 500;
--title-h4-weight-1-line-height: 4px*5;
--title-h4-weight-1-font-size: 4px*4;
--title-h4-weight-1-letter-spacing: -0.12px;
--title-h4-weight-1-paragraph-spacing: 0;
--title-h4-weight-1-text-case: none;
--title-h4-weight-1-text-decoration: none;
--title-h4-weight-2-font-family: Inter;
--title-h4-weight-2-font-weight: 400;
--title-h4-weight-2-line-height: 4px*5;
--title-h4-weight-2-font-size: 4px*4;
--title-h4-weight-2-letter-spacing: -0.2px;
--title-h4-weight-2-paragraph-spacing: 0;
--title-h4-weight-2-text-case: none;
--title-h4-weight-2-text-decoration: none;
--subheader-weight-1-font-family: Inter;
--subheader-weight-1-font-weight: 500;
--subheader-weight-1-line-height: 4px*4;
--subheader-weight-1-font-size: 4px*3.5;
--subheader-weight-1-letter-spacing: 0;
--subheader-weight-1-paragraph-spacing: 0;
--subheader-weight-1-text-decoration: none;
--subheader-weight-1-text-case: none;
--subheader-weight-2-font-family: Inter;
--subheader-weight-2-font-weight: 400;
--subheader-weight-2-line-height: 4px*4;
--subheader-weight-2-font-size: 4px*3.5;
--subheader-weight-2-letter-spacing: 0;
--subheader-weight-2-paragraph-spacing: 0;
--subheader-weight-2-text-decoration: none;
--subheader-weight-2-text-case: none;
--caption-x4-weight-1-font-family: Inter;
--caption-x4-weight-1-font-weight: 500;
--caption-x4-weight-1-line-height: 4px*5;
--caption-x4-weight-1-font-size: 4px*4;
--caption-x4-weight-1-letter-spacing: -0.24px;
--caption-x4-weight-1-paragraph-spacing: 0;
--caption-x4-weight-1-text-case: none;
--caption-x4-weight-1-text-decoration: none;
--caption-x4-weight-2-font-family: Inter;
--caption-x4-weight-2-font-weight: 400;
--caption-x4-weight-2-line-height: 4px*5;
--caption-x4-weight-2-font-size: 4px*4;
--caption-x4-weight-2-letter-spacing: -0.28px;
--caption-x4-weight-2-paragraph-spacing: 0;
--caption-x4-weight-2-text-case: none;
--caption-x4-weight-2-text-decoration: none;
--caption-x4-weight-3-font-family: Inter;
--caption-x4-weight-3-font-weight: 300;
--caption-x4-weight-3-line-height: 4px*5;
--caption-x4-weight-3-font-size: 4px*4;
--caption-x4-weight-3-letter-spacing: -0.3px;
--caption-x4-weight-3-paragraph-spacing: 0;
--caption-x4-weight-3-text-case: none;
--caption-x4-weight-3-text-decoration: none;
--caption-x3-5-weight-1-font-family: Inter;
--caption-x3-5-weight-1-font-weight: 500;
--caption-x3-5-weight-1-line-height: 4px*4;
--caption-x3-5-weight-1-font-size: 4px*3.5;
--caption-x3-5-weight-1-letter-spacing: -0.2px;
--caption-x3-5-weight-1-paragraph-spacing: 0;
--caption-x3-5-weight-1-text-case: none;
--caption-x3-5-weight-1-text-decoration: none;
--caption-x3-5-weight-2-font-family: Inter;
--caption-x3-5-weight-2-font-weight: 400;
--caption-x3-5-weight-2-line-height: 4px*4;
--caption-x3-5-weight-2-font-size: 4px*3.5;
--caption-x3-5-weight-2-letter-spacing: -0.2px;
--caption-x3-5-weight-2-paragraph-spacing: 0;
--caption-x3-5-weight-2-text-case: none;
--caption-x3-5-weight-2-text-decoration: none;
--caption-x3-weight-1-font-family: Inter;
--caption-x3-weight-1-font-weight: 500;
--caption-x3-weight-1-line-height: 4px*4;
--caption-x3-weight-1-font-size: 4px*3;
--caption-x3-weight-1-letter-spacing: -0.2px;
--caption-x3-weight-1-paragraph-spacing: 0;
--caption-x3-weight-1-text-case: none;
--caption-x3-weight-1-text-decoration: none;
--caption-x3-weight-2-font-family: Inter;
--caption-x3-weight-2-font-weight: 400;
--caption-x3-weight-2-line-height: 4px*4;
--caption-x3-weight-2-font-size: 4px*3;
--caption-x3-weight-2-letter-spacing: -0.2px;
--caption-x3-weight-2-paragraph-spacing: 0;
--caption-x3-weight-2-text-case: none;
--caption-x3-weight-2-text-decoration: none;
--caption-x2-5-weight-1-font-family: Inter;
--caption-x2-5-weight-1-font-weight: 500;
--caption-x2-5-weight-1-line-height: 4px*4;
--caption-x2-5-weight-1-font-size: 4px*2.5;
--caption-x2-5-weight-1-letter-spacing: -0.2px;
--caption-x2-5-weight-1-paragraph-spacing: 0;
--caption-x2-5-weight-1-text-case: none;
--caption-x2-5-weight-1-text-decoration: none;
--caption-x2-5-weight-2-font-family: Inter;
--caption-x2-5-weight-2-font-weight: 400;
--caption-x2-5-weight-2-line-height: 4px*4;
--caption-x2-5-weight-2-font-size: 4px*2.5;
--caption-x2-5-weight-2-letter-spacing: -0.2px;
--caption-x2-5-weight-2-paragraph-spacing: 0;
--caption-x2-5-weight-2-text-case: none;
--caption-x2-5-weight-2-text-decoration: none;
--text-x4-weight-1-font-family: Inter;
--text-x4-weight-1-font-weight: 500;
--text-x4-weight-1-line-height: 4px*5;
--text-x4-weight-1-font-size: 4px*4;
--text-x4-weight-1-letter-spacing: -0.24px;
--text-x4-weight-1-paragraph-spacing: 0;
--text-x4-weight-1-text-decoration: none;
--text-x4-weight-1-text-case: none;
--text-x4-weight-1-u-font-family: Inter;
--text-x4-weight-1-u-font-weight: 500;
--text-x4-weight-1-u-line-height: 4px*5;
--text-x4-weight-1-u-font-size: 4px*4;
--text-x4-weight-1-u-letter-spacing: -0.24px;
--text-x4-weight-1-u-paragraph-spacing: 0;
--text-x4-weight-1-u-text-decoration: underline;
--text-x4-weight-1-u-text-case: none;
--text-x4-weight-2-font-family: Inter;
--text-x4-weight-2-font-weight: 400;
--text-x4-weight-2-line-height: 4px*5;
--text-x4-weight-2-font-size: 4px*4;
--text-x4-weight-2-letter-spacing: -0.24px;
--text-x4-weight-2-paragraph-spacing: 0;
--text-x4-weight-2-text-decoration: none;
--text-x4-weight-2-text-case: none;
--text-x4-weight-2-u-font-family: Inter;
--text-x4-weight-2-u-font-weight: 400;
--text-x4-weight-2-u-line-height: 4px*5;
--text-x4-weight-2-u-font-size: 4px*4;
--text-x4-weight-2-u-letter-spacing: -0.24px;
--text-x4-weight-2-u-paragraph-spacing: 0;
--text-x4-weight-2-u-text-decoration: underline;
--text-x4-weight-2-u-text-case: none;
--text-x3-5-weight-1-font-family: Inter;
--text-x3-5-weight-1-font-weight: 500;
--text-x3-5-weight-1-line-height: 4px*4;
--text-x3-5-weight-1-font-size: 4px*3.5;
--text-x3-5-weight-1-letter-spacing: -0.2px;
--text-x3-5-weight-1-paragraph-spacing: 0;
--text-x3-5-weight-1-text-case: none;
--text-x3-5-weight-1-text-decoration: none;
--text-x3-5-weight-1-u-font-family: Inter;
--text-x3-5-weight-1-u-font-weight: 500;
--text-x3-5-weight-1-u-line-height: 4px*4;
--text-x3-5-weight-1-u-font-size: 4px*3.5;
--text-x3-5-weight-1-u-letter-spacing: -0.2px;
--text-x3-5-weight-1-u-paragraph-spacing: 0;
--text-x3-5-weight-1-u-text-case: none;
--text-x3-5-weight-1-u-text-decoration: underline;
--text-x3-5-weight-2-font-family: Inter;
--text-x3-5-weight-2-font-weight: 400;
--text-x3-5-weight-2-line-height: 4px*4;
--text-x3-5-weight-2-font-size: 4px*3.5;
--text-x3-5-weight-2-letter-spacing: -0.2px;
--text-x3-5-weight-2-paragraph-spacing: 0;
--text-x3-5-weight-2-text-decoration: none;
--text-x3-5-weight-2-text-case: none;
--text-x3-5-weight-2-u-font-family: Inter;
--text-x3-5-weight-2-u-font-weight: 400;
--text-x3-5-weight-2-u-line-height: 4px*4;
--text-x3-5-weight-2-u-font-size: 4px*3.5;
--text-x3-5-weight-2-u-letter-spacing: -0.2px;
--text-x3-5-weight-2-u-paragraph-spacing: 0;
--text-x3-5-weight-2-u-text-decoration: underline;
--text-x3-5-weight-2-u-text-case: none;
--paragraph-x4-weight-1-font-family: Inter;
--paragraph-x4-weight-1-font-weight: 500;
--paragraph-x4-weight-1-line-height: 4px*6;
--paragraph-x4-weight-1-font-size: 4px*4;
--paragraph-x4-weight-1-letter-spacing: -0.24px;
--paragraph-x4-weight-1-paragraph-spacing: 0;
--paragraph-x4-weight-1-text-case: none;
--paragraph-x4-weight-1-text-decoration: none;
--paragraph-x4-weight-1-u-font-family: Inter;
--paragraph-x4-weight-1-u-font-weight: 500;
--paragraph-x4-weight-1-u-line-height: 4px*6;
--paragraph-x4-weight-1-u-font-size: 4px*4;
--paragraph-x4-weight-1-u-letter-spacing: -0.24px;
--paragraph-x4-weight-1-u-paragraph-spacing: 0;
--paragraph-x4-weight-1-u-text-case: none;
--paragraph-x4-weight-1-u-text-decoration: underline;
--paragraph-x4-weight-2-font-family: Inter;
--paragraph-x4-weight-2-font-weight: 400;
--paragraph-x4-weight-2-line-height: 4px*6;
--paragraph-x4-weight-2-font-size: 4px*4;
--paragraph-x4-weight-2-letter-spacing: -0.24px;
--paragraph-x4-weight-2-paragraph-spacing: 0;
--paragraph-x4-weight-2-text-case: none;
--paragraph-x4-weight-2-text-decoration: none;
--paragraph-x4-weight-2-u-font-family: Inter;
--paragraph-x4-weight-2-u-font-weight: 400;
--paragraph-x4-weight-2-u-line-height: 4px*6;
--paragraph-x4-weight-2-u-font-size: 4px*4;
--paragraph-x4-weight-2-u-letter-spacing: -0.24px;
--paragraph-x4-weight-2-u-paragraph-spacing: 0;
--paragraph-x4-weight-2-u-text-case: none;
--paragraph-x4-weight-2-u-text-decoration: underline;
--paragraph-x3-5-weight-1-font-family: Inter;
--paragraph-x3-5-weight-1-font-weight: 500;
--paragraph-x3-5-weight-1-line-height: 4px*5;
--paragraph-x3-5-weight-1-font-size: 4px*3.5;
--paragraph-x3-5-weight-1-letter-spacing: -0.2px;
--paragraph-x3-5-weight-1-paragraph-spacing: 0;
--paragraph-x3-5-weight-1-text-case: none;
--paragraph-x3-5-weight-1-text-decoration: none;
--paragraph-x3-5-weight-1-u-font-family: Inter;
--paragraph-x3-5-weight-1-u-font-weight: 500;
--paragraph-x3-5-weight-1-u-line-height: 4px*5;
--paragraph-x3-5-weight-1-u-font-size: 4px*3.5;
--paragraph-x3-5-weight-1-u-letter-spacing: -0.2px;
--paragraph-x3-5-weight-1-u-paragraph-spacing: 0;
--paragraph-x3-5-weight-1-u-text-case: none;
--paragraph-x3-5-weight-1-u-text-decoration: underline;
--paragraph-x3-5-weight-2-font-family: Inter;
--paragraph-x3-5-weight-2-font-weight: 400;
--paragraph-x3-5-weight-2-line-height: 4px*5;
--paragraph-x3-5-weight-2-font-size: 4px*3.5;
--paragraph-x3-5-weight-2-letter-spacing: -0.2px;
--paragraph-x3-5-weight-2-paragraph-spacing: 0;
--paragraph-x3-5-weight-2-text-case: none;
--paragraph-x3-5-weight-2-text-decoration: none;
--paragraph-x3-5-weight-2-u-font-family: Inter;
--paragraph-x3-5-weight-2-u-font-weight: 400;
--paragraph-x3-5-weight-2-u-line-height: 4px*5;
--paragraph-x3-5-weight-2-u-font-size: 4px*3.5;
--paragraph-x3-5-weight-2-u-letter-spacing: -0.2px;
--paragraph-x3-5-weight-2-u-paragraph-spacing: 0;
--paragraph-x3-5-weight-2-u-text-case: none;
--paragraph-x3-5-weight-2-u-text-decoration: underline;
--text-case-none: none;
--text-decoration-none: none;
--text-decoration-underline: underline;
--button-default-font-family: Inter;
--button-default-font-weight: 400;
--button-default-line-height: 4px*5;
--button-default-font-size: 4px*4;
--button-default-letter-spacing: -0.24px;
--button-default-paragraph-spacing: 0;
--button-default-text-case: none;
--button-default-text-decoration: none;
--button-lite-font-family: Inter;
--button-lite-font-weight: 300;
--button-lite-line-height: 4px*5;
--button-lite-font-size: 4px*4;
--button-lite-letter-spacing: -0.24px;
--button-lite-paragraph-spacing: 0;
--button-lite-text-case: none;
--button-lite-text-decoration: none;
 } 